[Unit]
Description="Xsdb server for ExStickGE based on Vivado 2022.1"

[Service]
User=
Group=
WorkingDirectory=/opt/quel/xsdb_venv/
ExecStart=/opt/quel/xsdb_venv/bin/quel_xsdb_server --xsdb_port 35335 --hwsvr_port 5121 --target_type exstickge --vivado_topdir /tools/Xilinx/Vivado/2022.1
Restart=on-failure

[Install]
WantedBy=multi-user.target
